* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf
gradlew text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.rs text eol=lf
*.kt text eol=lf
*.kts text eol=lf

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.so binary
